#intro {
h1{
    text-align: center;
}


    #welcome{
    display: flex;
    justify-content: space-between;

        img{
            display: block;
            margin: 0 auto;

            width: 10em;
        }
    }
}
