@font-face {
    font-family: 'NotoSans';
    src: url('Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf');
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #4d9be6;
        color: BLACK;

    }

    main {
        background-color: #8fd3ff;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2e222f;
        color: #ffffff;
    }

    main{
        background-color: #3e3546;
    }
}

body {
    font-family: NotoSans;

    max-width: 60em;
    margin: auto;
}

main{
    padding: 1em;
}


/* unvisited link */
a:link {
    color: #fb6b1d;
}

/* visited link */
a:visited {
    color: #e83b3b;
}

/* mouse over link */
a:hover {
    color: #f04f78;
}

/* selected link */
a:active {
    color: #e83b3b;
}

