@font-face {
    font-family: 'NotoSans';
    src: url('Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf');
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2e222f;
        color: #ffffff;
    }

    main{
        background-color: #3e3546;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #4d9be6;
        color: BLACK;
    }

    main {
        background-color: #8fd3ff;
    }
}

body {
    font-family: NotoSans;

    max-width: 60em;
    margin: auto;


}

main{
    padding: 1em;
}


#intro {
    h1{
        text-align: center;
    }


    #welcome{
        display: flex;
        justify-content: space-between;

        img{
            display: block;
            margin: 0 auto;

            width: 10em;
        }
    }
}

